<div class="user-details">
  <h1> Blog </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Teaching : foundation of everything </h3>
    <ul>
      <li> Education </li>
      <li> Personality </li>
      <li> Career  </li>
      <li> Relationships </li>
    </ul>
    <p> discusses about the above points and it's influences on the community and soceity as a whole.</p>
    <a class="project-link" href="#">Read more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> The Right and Wrong </h3>
    <ul>
      <li> Philosophies </li>
      <li> Belief Systems </li>
      <li> Never being Judgemental </li>
      <li> Complementary and Unfair  </li>
    </ul>
    <p>discusses about the above points and it's influences on the community and soceity as a whole.</p>
    <a class="project-link" href="#">Read more</a>
  </div>
</div>
