<div class="user-details">
 <center> <h1> Krafts </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Art </h3>
    <ul>
      <li> Graphite Sketchs </li>
      <li> H20 Paintings </li>
      <li> Oil Paintings </li>
      <li> Origamy </li>
      <li> 3D Sketches </li>
    </ul>
   <a class="project-link" href="#">See more</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Music </h3>
    <ul>
      <li> Strings </li>
      <li> Beats </li>
      <li> Soundtracks </li>
      <li> Lyrical Songs  </li>
    </ul>
     <a class="project-link" href="#">Listen more</a>
  </div>
</div>
</div>
